<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/candidate/topbarhome.css">
</head>

<body>
<!-- top-bar.html -->
<!-- topbar.html -->
<div class="top-bar" th:fragment="top-bar">
    <div class="logo">
        <h2 class="text-primary">ACE</h2>
    </div>
    <div class="navigation">
        <a href="/home" class="text-decoration-none mx-3">Home</a>
        <a href="/jobcandidate" class="text-decoration-none mx-3">Jobs</a>
        <a href="#" class="text-decoration-none mx-3">About</a>
    </div>
</div>


</body>
</html>